{% extends 'base.html' %}

{% block titulo %}
<h2>Listado<h2/>
{% endblock titulo %}

{% block mensaje_inicio %}

Listado de Pistas de la fiesta:
{% endblock mensaje_inicio %}

{% block contenido %}
<button><a class='navbar-brand' href= {% url 'inicio:abrir pista' %}>Abrir</a></button>

{% if pistas %}
{% for pista in pistas %}

<li>
    {{pista}}
    <a href={% url 'inicio:mostrar pista' pista.id %}>Mostrar</a>
    <a href={% url 'inicio:mod pista' pista.id %}>Modificar</a>
    <a href={% url 'inicio:cerrar pista' pista.id %}>Sacar</a>
</li>

{% endfor %}

{% else %}
<p>No hay tal pista en la fiesta.</p>
{% endif %}
{% endblock contenido %}
