{% extends 'base.html' %}

{% block titulo %}
<h2>Listado<h2/>
{% endblock titulo %}

{% block mensaje_inicio %}

Listado de Invitados en la fiesta:
{% endblock mensaje_inicio %}

{% block contenido %}
<button><a class='navbar-brand' href= {% url 'inicio:dejar entrar invitado' %}>Dejar entrar</a></button>

{% if invitados %}
{% for invitado in invitados %}

<li>
    {{invitado}}
    <a href={% url 'inicio:mostrar invitado' invitado.id %}>Mostrar</a>
    <a href={% url 'inicio:mod invitado' invitado.id %}>Modificar</a>
    <a href={% url 'inicio:sacar invitado' invitado.id %}>Sacar</a>
</li>

{% endfor %}

{% else %}
<p>No hay nadie en la fiesta.</p>
{% endif %}
{% endblock contenido %}
