{% extends 'base.html' %}

{% block titulo %}
<h2>Listado<h2/>
{% endblock titulo %}

{% block mensaje_inicio %}

Listado de Djs:
{% endblock mensaje_inicio %}

{% block contenido %}
<button><a class='navbar-brand' href= {% url 'inicio:que toque' %}>Que Toque</a></button>

<form action='' method='GET'>
    {{formulario}}
    <button>Buscar</button>
</form>
{% if djs %}
{% for dj in djs %}
<li>
    {{dj}}
    <a href={% url 'inicio:despedir dj' dj.id %}>Despedir</a>
</li>
{% endfor %}
{% else %}
<p>No toca en la fiesta.</p>
{% endif %}
{% endblock contenido %}