{% extends 'base.html' %}

{% block titulo %}
<h2>Listado<h2/>
{% endblock titulo %}

{% block mensaje_inicio %}

Listado de Pistas en la fiesta:
{% endblock mensaje_inicio %}

{% block contenido %}
<button><a class='navbar-brand' href= {% url 'inicio:abrir pista' %}>Crear Pista</a></button>

<form action='' method='GET'>
    {{formulario}}
    <button>Buscar</button>
</form>
{% if pistas %}
{% for pista in pistas %}
<li>
    {{pista}}
    <a href={% url 'inicio:cerrar pista' pista.id %}>Cerrar</a>
</li>
{% endfor %}
{% else %}
<p>No se encuentra en la fiesta.</p>
{% endif %}
{% endblock contenido %}
