{% extends 'base.html' %}

{% block titulo %}
<h2>Editar Reseña:<h2/>
{% endblock titulo %}

{% block mensaje_inicio %}
Editar Reseña {{resenia.titulo}}:
{% endblock mensaje_inicio %}

{% block contenido %}

<form action={% url 'usuario:editar_resenia' resenia.id %} method='POST'>
    {% csrf_token %}
    <table>
    {{form}}
    </table>

    <form action="{% url 'usuario:editar_resenia' pk=resenia.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        {{ formulario_foto_resenia }}
        <button>Confirmar Edición</button>
    </form>
    
    <button>Confirmar Edición</button>
    
</form>


{% endblock contenido %}
