{% extends 'base.html' %}

{% block titulo %}
<h2>Reseña<h2/>
{% endblock titulo %}

{% block mensaje_inicio %}
{{resenia.titulo}}:
{% endblock mensaje_inicio %}

{% block contenido %}
<li>{{resenia.subtitulo}}</li>
<li>{{resenia.contenido}}</li>
<li>Autor: {{resenia.autor}}</li>
<li>Fecha de Posteo: {{resenia.fecha_de_creacion}}</li>
<img src={{request.resenia.fotoresenia.img_resenia.url}} alt = '' height = '' > </img>
<button type='button'><a class='navbar-brand' href={% url 'usuario:resenias' %}>Volver al listado</a> </button>
{% endblock contenido %}