{% extends 'base.html' %}

{% block titulo %}
<h2>Perfil<h2/>
{% endblock titulo %}

{% block mensaje_inicio %}
Usuario: {{user.first_name}}:
{% endblock mensaje_inicio %}

{% block contenido %}
<li>Nombre del usuario: {{user.first_name}}</li>
<li>email: {{user.email}}</li>
<li>Apellido: {{user.last_name}}</li>
{% if user.cumpleanios %}
<li>{{user.cumpleanios}}</li>
{% endif %}
{% if user.infousuario.avatar %}
<li><img src={{request.user.infousuario.avatar.url}} alt = '' height = '480px' > </img></li>
{% endif %}


<button><a href={% url 'usuario:editar_perfil' %}>Editar Perfil</a></button>
{% endblock contenido %}

